<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Harmless"
            id="Harmless">
      </category>
      <view
            name="Vue globale"
            icon="icons/sample.gif"
            category="Harmless"
            class="harmless.views.GlobalView.GlobalView"
            id="harmless.views.GlobalView">
      </view>
      <view
            name="Màj slices"
            icon="icons/sample.gif"
            category="Harmless"
            class="harmless.views.UpdateSlicesView"
            id="harmless.views.UpdateSlicesView">
      </view>
      <view
            name="Etat slices"
            icon="icons/sample.gif"
            category="Harmless"
            class="harmless.views.SlicesView"
            id="harmless.views.SlicesStateView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="harmless.views.GlobalView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
